@import url(./../global.css);

body {
    overflow: hidden;
}
.bg-image {
    position: fixed;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -100;
}
.overlay {
    width: 100vw;
    height: 100vh;
    left: 0;
    position: fixed;
    background-color: var(--color-primary);
    opacity: 90%;
    z-index: 0;
}   
.to-menu-btn {
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.to-menu-btn:hover {
    filter: brightness(150%);
}
.to-menu-icon {
    height: 40px;
    aspect-ratio: 1/1;
}
.to-menu-btn p {
    position: relative;
    left: 10px;
    font-size: 20px;    
    font-weight: var(--fw-bold);
    letter-spacing: 1px;
    color: var(--color-secondary);
}
.shadow {   
    position: fixed;
    bottom: 5%;
    left: calc(30% - 350px);
    width: 700px;
    opacity: 60%;
    z-index: 1;
    animation: pulse 3s infinite;
}

.bg-cover {
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 300px;
    background-color: var(--color-primary);
    z-index: 0;
}

.puzzle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 600px;
    display: flex;
    justify-content: center;
    z-index: 2;
}
.puzzle-comp {
    width: 500px;
    height: 602px;
    background-image: url(./../assets/puzzle-comp-3.png);
    background-size: contain;
}

.current-bitstring-screen-container {
    width: 400px;   
    margin: auto;
    text-align: center;
    color: white;
}
.current-bitstring-screen-container .label {
    font-size: 24px;
    margin-top: 120px;
    opacity: 70%;
}
.current-bitstring-screen {
    font-size: 48px;
    letter-spacing: 4px;
    font-weight: var(--fw-bold);
}
 
.operation-count-section {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 10px;
    color: white;
    font-size: 20px;
    opacity: 70%;
}
.operation-count-section .screen {
    margin-inline: 6px;
    font-weight: var(--fw-bold);
}

.operation-buttons {
    width: 80%;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 70px auto 0;
}

.operation-buttons .main-buttons {    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.operation-buttons .main-buttons >  * {
    height: 45px;
    margin: 8px;
    padding: 8px 16px;
    border-width: 4px; 
    background-color: var(--color-dark);
    color: white;
    font-weight: var(--fw-med);
    font-size: 16px;
}

.operation-buttons .misc-buttons {
    margin-top: 25px;
}

.operation-buttons .misc-buttons .reset-btn {
    width: 60px;
    height: 60px;
    border-left-color: #b1e453;
    border-right-color: #439b11;
    border-top-color: #b1e453;
    border-bottom-color: #439b11;
    background-color: #97cb29;
    
    border-width: 4px; 
    padding: 10px;
} 

.operation-buttons .reset-icon {
    opacity: 90%;
    width: 25px;
    height: 20px;
}

.puzzle-desc {
    margin-left: 50px;
    width: 550px;
    height: 600px;
    background-image: url(./../assets/paper.png);
    background-size: cover;
}

.puzzle-desc header {
    margin-top: 20px;
    text-align: center;
    color: var(--color-very-dark);
}
.puzzle-desc header .title {
    font-size: 32px;
    font-weight: var(--fw-bold);
    letter-spacing: 1px;
}
.puzzle-desc header .subtitle {
    letter-spacing: 1px;
    font-size: 20px;
}
.puzzle-desc .body {
    width: 80%;
    margin: 20px auto;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 0.5px;
    text-align: justify;
    color: var(--color-dark);
}
.puzzle-desc .target-section {
    width: 80%;
    margin: 40px auto 0px;
    color: var(--color-very-dark);
}
.puzzle-desc .target-section .label {
    font-size: 20px;
}
.puzzle-desc .target-section .bitstring {
    font-size: 30px;
    font-weight: var(--fw-bold);
}


.modal-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: var(--color-primary);
    opacity: 80%;
    z-index: 100
}

.modal {
    z-index: 101;
    width: 600px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(./../assets/paper.png);
    background-size: cover;
}

.modal header {
    margin-bottom: 30px;
}

.modal .title {
    font-size: 48px;
    font-weight: var(--fw-bold);
}
.modal .subtitle {
    color: var(--color-dark)
}

.modal .desc {
    font-size: 18px;
    margin-bottom: 10px;
}

.modal .btn-container {
    display: flex;
    justify-content: space-evenly;
}

.modal .btn-container button {
    width: 150px;
    padding: 8px;
    margin-inline: 8px;
}
