@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
:root {
    --color-white: #FFFFFF;
    --color-very-light: #EEEEEE;
    --color-light: #DDDDDD;
    --color-medium-light: #CCCCCC;
    --color-medium-dark: #999999;
    --color-dark: #666666;
    --color-very-dark: #333333;
    --color-black: #000000;

    --color-primary: #4A3D56;
    --color-secondary: #cfc884;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.02);
    }
    100% {
        transform: scale(1);
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Pixelify Sans', Verdana, Geneva, Tahoma, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 16px;
    font-weight: 400;
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.bold {
    font-weight: var(--fw-bold);
}

.hidden {
    display: none !important;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: var(--color-dark);
    opacity: 80%;
    z-index: -1;
}


